TESTBUDDY_HOST=0.0.0.0
TESTBUDDY_PORT=5001

# Google Chat incoming webhook support
# TESTBUDDY_GOOGLE_CHAT_WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/.../messages?key=...&token=...
# TESTBUDDY_GOOGLE_CHAT_WEBHOOK_URLS=https://chat.googleapis.com/... https://chat.googleapis.com/...
# TESTBUDDY_GOOGLE_CHAT_TIMEOUT=10
# TESTBUDDY_GOOGLE_CHAT_NOTIFY_RECOVERIES=0
